/** CSS for body **/ 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** CSS for the old navbar, let's keep this for now **/
ul.header {
  list-style-type: none;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
 }
 
 ul.header li { float: left; border: 1px solid black;}
 
 ul.header li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

 .container {
  position: absolute;
}

.bg-image {
  opacity: 0.3;
  position: fixed; 
}

.login {
  text-align: center;
  position: absolute;
  left: 75%;
  top: 250px;
  color: black;
}

 /** Navbar CSS **/
 .navbar.bg-light {
  background-color: #f3e2b3 !important;
 }

 .form-control {
  border-radius: 4.25rem;
  }

/** This is not currently being used right? **/
 ul.header li a:hover:not(.active) { background-color: rgb(240, 240, 240);}
 .active { background-color: #d8d8d8;}



 /* Weekly Food Plan CSS */


table {
  table-layout: fixed;
  tab-size: 100px;
  width: 100%;
  background-color: #E9ECF0;

}

 th {

  margin: 0;
  border: 1px solid;
  padding: 10px;
  content: 50px;
  font-family: 'Segoe UI';
}

td {
  margin-bottom: 0;
  padding: 40px;
  content: 70px;
  font-family: 'Segoe UI';
  font-size: smaller;
  height: 370px;


}

td.dinner {
  position: absolute;
  float: left;
  color: solid black;
  font-style: bold;
  
}

th.col {
  
  text-align: left top;
}

tr {
  width: 100%;
}

button.random {
  background-color: #E9ECF0; 
  border: none;
  color: black;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

button.confirm {
  background-color: greenyellow; 
  border: none;
  color: black;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
